.btn {
  width: 300px;
  display: block;
  padding: 0.3em;
  text-align: right;
  text-decoration: none;
  font-family: "Noto Sans JP", monospace;
  border: 3px solid;
  border-radius: 3px;
  transition: 0.4s;
  position: relative;
  margin-top: 10px;
  color: #371f23;
  background-color: #d8d5d5;
  border-color: #d8d5d5;
}

.btn>i {
  background: transparent !important;
  position: absolute;
  top: 60%;
  left: 5px;
  margin-top: -0.5em;
}

.btn.twitter {
  color: #ffffff;
  background-color: #1D9BF0;
  border-color: #1D9BF0;
}

.btn.github {
  color: #fff;
  background-color: #24292E;
  border-color: #24292E;
}

.btn.keybase {
  color: #FFFFFF;
  background-color: #3663EA;
  border-color: #3663EA;
}

.btn.niconico {
  color: #ffffff;
  background-color: #252525;
  border-color: #252525;
}

.btn.mastodon {
  color: #ffffff;
  background-color: #2b90d9;
  border-color: #2b90d9;
}

.btn.misskey {
  color: #ffffff;
  background-color: #86B300;
  border-color: #86B300;
}

.btn.pixelfed {
  color: #ffffff;
  background-color: #DC3545;
  border-color: #DC3545;
}

.btn.discord {
  color: #ffffff;
  background-color: #7298da;
  border-color: #7298da;
}

.btn.nowonair {
  color: #ffffff;
  background-color: #e10728;
  border-color: #e10728;
}

.btn.kyash {
  color: #FFFFFF;
  background-color: #0D97FF;
  border-color: #0D97FF;
}

.btn.annict {
  color: #ffffff;
  background-color: #D51C5B;
  border-color: #D51C5B;
}

.btn.booklog {
  color: #FFFFFF;
  background-color: #4EA6CC;
  border-color: #4EA6CC;
}

.btn:hover {
  border-color: #371f23;
}