* {
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 767px) {

  /*ウィンドウ幅が767px以上の場合に適用*/
  .page {
    padding-left: 20%;
    padding-right: 20%;
  }

  .myname {
    float: left;
    margin-right: 15px;
  }

  .id {
    clear: left;
  }
}

@media screen and (max-width: 766px) {

  /*ウィンドウ幅が最大767pxまでの場合に適用*/

  .page {
    padding-left: 25px;
    padding-right: 25px;
  }

  p.avatar {
    text-align: center;
  }

  .myname {
    text-align: center;
  }

  .engname {
    text-align: center;
  }

  .id {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {

  /*ウィンドウ幅が最大479pxまでの場合に適用*/
  .page {
    padding-left: 20px;
    padding-right: 20px;
  }

  p.avatar {
    text-align: center;
  }

  .myname {
    text-align: center;
  }

  .engname {
    text-align: center;
  }

  .id {
    text-align: center;
  }
}

body {
  background-color: #f5f4f4;
}



img.avatar {
  border: solid 2px #e4e2e2;
  border-radius: 5%;
  width: 130px;
  height: 130px;
  margin-top: 80px;
}

i.heading {
  margin-right: 10px;
}

h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.8em;
  color: #e10728;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.3em;
  color: #371f23;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  color: #371f23;
  margin-top: 5px;
  margin-bottom: 15px;
}

div.names {
  padding-top: 20px;
  padding-bottom: 30px;
}

b.myname,
b.engname {
  padding-top: 0px;
}


.myname {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 30px;
  color: #e10728;
  margin-bottom: 0px;
}

.id {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  color: #605254;
  clear: left;
}

div.bio {
  margin-top: 15px;
  font-size: 1.1em;
}

div.eng-bio {
  padding-top: 12px;
  padding-bottom: 8px;
}

.nicodic {
  color: #371f23;
}

a.nicodic{
  padding: 0 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #252525 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  text-decoration: none;
}

a.nicodic:hover{
  background-position: -100% 0;
  color: #fff;
}

i.nicodic {
  margin-left: 5px;
}

a.nicodic:hover>i {
  color: #fff;
  transition: .3s;
}

img.nicodic {
  padding-right: 5px;
  width: 1em;
  height: 1em;
}

div.contents {
  padding-top: 20px;
  padding-bottom: 20px;
}

div.blank {
  padding: 40px;
}

div.linkcategory {
  margin-top: 30px;
}

a.secret {
  color: #f2f2f2;
}


footer {
  margin-top: 100px;
  clear: both;
  height: 50px;
  text-align: center;
  font-size: 0.8em;
  padding-top: 20px;
  width: 100%;
}